@model IEnumerable<TemanApotikProject.Models.JenisObat>

@{
    ViewBag.Title = "Daftar Jenis";
}

<h2>Daftar Jenis Obat</h2>

<p>
    @Html.ActionLink("Buat Baru", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Jenis Obat")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Jenis_Obat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_Jenis_Obat }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_Jenis_Obat }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_Jenis_Obat })
        </td>
    </tr>
}

</table>
