@model TemanApotikProject.Models.Harga

@{
    ViewBag.Title = "Hapus";
}

<h2>Hapus Harga Obat</h2>

<h3>Apakah anda yakin akan menghapus data ini?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nama Obat")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obat.id_Obat)
        </dd>

        <dt>
            @Html.DisplayName("Jenis Obat")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_Jenis_Obat)
        </dd>

        <dt>
            @Html.DisplayName("Harga Awal")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga_Awal)
        </dd>

        <dt>
            @Html.DisplayName("Diskon")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diskon)
        </dd>

        <dt>
            @Html.DisplayName("Harga Akhir")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Harga_Akhir)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Hapus" class="btn btn-default" /> |
            @Html.ActionLink("Kembali ke List", "Index")
        </div>
    }
</div>
